version: '2.2'
services: 
  dynamicdns:
    image: "jodydadescott/home-dynamicdns:latest"
    container_name: dynamicdns
    restart: always
    network_mode: host
    environment:
      KEY: "the key"
      SECRET: "the secret"
      DOMAIN: "thescottsweb.com"
      NAME: "x1"
